.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: lightyellow;
  font-family: sans-serif;
  color: darkred;
}

.articleContent {
  color: darkred;
  background-color: rgb(238, 170, 170);
  max-width: fit-content; 
  padding: 10px;
}

